@model IEnumerable<Medical.ViewModel.CClinicDetailViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClinicDetailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Online)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LimitNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicDetailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
                @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Online)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimitNum)
            </td>
            <td>
                @Html.ActionLink("進入工作區", "workSpace", null, new {  id=item.ClinicDetailId  }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
